<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test_db">
	<insert id="insert_data" parameterType="com.woomin.beans.DataBean">
	<!-- Mybatis 사용시 쿼리문에 비교연산자나 부등호를 처리할 때가 있는데 <같은 기호가 괄호인지 비교연산자인지 확인이 되지않는다.
	그래서 <![CDATA[]]>를 사용하면 sql안에 특수문자가 들어가도 문자열로 인식한다. -->
		<![CDATA[
			insert into spring_mvc_table (data1, data2, data3)
			values (#{data1}, #{data2}, #{data3})
		]]>
	</insert>
	<select id="select_data" resultType="com.woomin.beans.DataBean">
		<![CDATA[
			select data1, data2, data3 from spring_mvc_table
		]]>
	</select>
</mapper>